@page "/quote"
<link href="css/main.css" rel="stylesheet" />

<div class="quote-page container">
    <h3>Inspirational Quote</h3>
    <p>@randomQuote</p>
    <button class="btn btn-secondary" @onclick="GenerateRandomQuote">Get Another Quote</button>
</div>
